html,
body {
  height:100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

gmp-map-3d {
  height: 100%;
}

.intro-container,.ending-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* z-index: 999; */
}

.ending-container{
  display:none;
}
.intro-video,.ending-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.unmute-button, .skip-button,.play-again-button{
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.unmute-button {
  bottom: 20px;
  left: 20px;
}

.skip-button {
  bottom: 20px;
  right: 20px;
}

.play-again-button{
  left:50%;
  top:60%;
  display:none;
}


.dialogue-container {
  display: none;
  position: relative;
  bottom: 15%; 
  text-align: center;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  }
  
  .dialogue-bg{
    /* border: 2px solid #fff; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:block;
    width:36%;
  } 

 .dialogue-text{
 /* border: 2px solid #fff; */
  position: absolute;
  display: inline-block;
  padding:0px;
  top:-30%;
  width :24%;
  left: 42%;
  /* transform: translate(-30%, -70%); */
  font-size:1.2vw;
}
.continue{
  /* border: 2px solid #fff;  */
  position: absolute;
  width :26%;
  top:20%;
  left: 46%;
  font-size:1.2vw;
  color:rgb(254, 245, 227);

}
  .next-button {
    /* border: 2px solid #fff; */
    width: 2%;
    position: absolute;
    top:18%;
    left: 64%;
    padding:0;
    margin:0;
    font-size: 1.5vw;
    cursor: pointer;
    filter: drop-shadow(2px 2px rgb(90, 56, 2));
  }

  .next-button:hover {
    -webkit-filter: brightness(1.15);   
    filter: brightness(1.15);
  }

.quiz-container {
  display:none;
  position:fixed;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-family: Arial, sans-serif;
}


.quiz-options {
  display: flex;
  justify-content: space-around;
}

.quiz-options img {
  width: 45%;
  max-width: 400px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.quiz-options img:hover {
  transform: scale(1.05);
}

.answer-container {
  display: flex;
  justify-content: space-around;
}

.answer-container img{
  width: 5%;
}
.answer-1,.answer-2{
  visibility: hidden;
}
